[Desktop Entry]
Name=Pixel-Grey
Comment=Based on One Dark Aurorae by Prayag and Minimalist Aurorae Theme by Jonbayh

X-KDE-PluginInfo-Author=SpecterInAHusk
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=Pixel-Grey
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V3
X-KDE-PluginInfo-EnabledByDefault=true
